.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/MidTerm.deps.json
bin/Debug/netcoreapp3.1/MidTerm.dll
bin/Debug/netcoreapp3.1/MidTerm.exe
bin/Debug/netcoreapp3.1/MidTerm.pdb
bin/Debug/netcoreapp3.1/MidTerm.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/MidTerm.runtimeconfig.json
obj/MidTerm.csproj.nuget.dgspec.json
obj/MidTerm.csproj.nuget.g.props
obj/MidTerm.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/MidTerm.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/MidTerm.assets.cache
obj/Debug/netcoreapp3.1/MidTerm.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/MidTerm.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/MidTerm.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/MidTerm.dll
obj/Debug/netcoreapp3.1/MidTerm.exe
obj/Debug/netcoreapp3.1/MidTerm.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/MidTerm.pdb
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
